nav ul li a {
  color: white;
  text-decoration: none;
}

.nav{
  display: flex;
  padding: .5rem 1rem;
  padding-top: 0.5rem;
}

.bg{
  background-color: #282c34; 
}

.titulo{
  color: white;
  text-decoration: none;
  margin-right: 900px;
}

.cart{
  color: white;
  margin-top: 5px;
}


.App {
  text-align: center;
}





